@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,body{
    overflow-x: hidden;
    overflow-y: overlay;
 }

.gallery-section{
    
    height: 100%;
    width: 100%;
}
.gallery-container{
    text-align: center;
  margin-top: 10px;
    
}

.gallery-container .gallery{
    position: relative;
    height: auto;
    width: 80%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:2vmin;
    grid-auto-flow: dense;
}
.gallery-container .gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0p 2px 2px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
}
.gallery-container .gallery .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 3;
}
.gallery-container .gallery .img:nth-child(2n+3){
   
    grid-row-start: span 2;
}
.gallery-container .gallery .img:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery-container .gallery .img:nth-child(6n+7){
    
    grid-row-start: span 1;
}
.gallery-container .gallery .img:nth-child(8n+9){
    grid-column-start: span 1;
    grid-row-start: span 1;
}
.gallery-container .gallery .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5)grayscale(100);
    transition: 0.3s ease-in-out;
}
.gallery-container .gallery .img:hover img
{
    filter: brightness(1)grayscale(0);
}
.about-heading{
    position:relative;
    display:inline-block;
    font-size: 24px;
    line-height: 50px;
letter-spacing: 0.075em;
font-weight: normal;

}
.about-heading::after{
    content:'';
    position:absolute;
    left:0;right:0;
    top:70%;
    margin: 30px auto;
    width:50%;
    height:6px;
    background:#FFBE15;
}
.viewmore{
    display: inline-block; 

   padding: 12px 24px;  

   background: rgb(220,220,220);  

   font-weight: bold;  

   color: rgb(120,120,120);  

   border: none;  outline: none;  

   border-radius: 3px;  
text-decoration: none;
   cursor: pointer;  
  margin-bottom: 100px;  
   transition: ease .3s;
}
.viewmore:hover{
    background: #05496A;  

    color: #ffffff; 
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #057BAF;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color:#057BAF;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.9);
    background-color: #057BAF;
    opacity: 0;
  }
  
  .content:hover ~ .cursor2{
    opacity: 5;
  }

  ::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-track{
  border: 7px solid #ffffff;
  box-shadow: inset 0 0 2.5px 2px rgb(105, 119, 245);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,#057BAF,
        #057BAF
    );
    border-radius: 3px;
}



@media(max-width:700px)
{

    .gallery-container .gallery{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:430px)
{

    .gallery-container .gallery{
       
        display: block;
    }
    .gallery-container .gallery .img{
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
    }
    .gallery-container .gallery .img img{
        display: block;
       filter: brightness(1)grayscale(0);
    }

}